.card {
  border: 1px solid rgb(72, 72, 198);
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  text-align: center;
}

img {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
