.title {
  font-size: 32px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 576px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
